# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

Carthage
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
Example/Pods/BlocksKit/LICENSE
Example/Pods/BlocksKit/README.md
Example/Pods/BlocksKit/BlocksKit/BlocksKit+MessageUI.h
Example/Pods/BlocksKit/BlocksKit/BlocksKit+UIKit.h
Example/Pods/BlocksKit/BlocksKit/BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/BKMacros.h
Example/Pods/BlocksKit/BlocksKit/Core/NSArray+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSArray+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSDictionary+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSDictionary+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSIndexSet+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSIndexSet+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSInvocation+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSInvocation+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableArray+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableArray+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableDictionary+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableDictionary+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableIndexSet+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableIndexSet+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableOrderedSet+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableOrderedSet+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableSet+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSMutableSet+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSObject+BKAssociatedObjects.h
Example/Pods/BlocksKit/BlocksKit/Core/NSObject+BKAssociatedObjects.m
Example/Pods/BlocksKit/BlocksKit/Core/NSObject+BKBlockExecution.h
Example/Pods/BlocksKit/BlocksKit/Core/NSObject+BKBlockExecution.m
Example/Pods/BlocksKit/BlocksKit/Core/NSObject+BKBlockObservation.h
Example/Pods/BlocksKit/BlocksKit/Core/NSObject+BKBlockObservation.m
Example/Pods/BlocksKit/BlocksKit/Core/NSOrderedSet+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSOrderedSet+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSSet+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSSet+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/Core/NSTimer+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/Core/NSTimer+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/A2BlockInvocation.h
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/A2BlockInvocation.m
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/A2DynamicDelegate.h
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/A2DynamicDelegate.m
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/NSObject+A2BlockDelegate.h
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/NSObject+A2BlockDelegate.m
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/NSObject+A2DynamicDelegate.h
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/NSObject+A2DynamicDelegate.m
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/Foundation/NSCache+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/Foundation/NSCache+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/Foundation/NSURLConnection+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/DynamicDelegate/Foundation/NSURLConnection+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/MessageUI/MFMailComposeViewController+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/MessageUI/MFMailComposeViewController+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/MessageUI/MFMessageComposeViewController+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/MessageUI/MFMessageComposeViewController+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIActionSheet+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIActionSheet+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIAlertView+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIAlertView+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIBarButtonItem+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIBarButtonItem+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIControl+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIControl+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIGestureRecognizer+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIGestureRecognizer+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIImagePickerController+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIImagePickerController+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIPopoverController+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIPopoverController+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UITextField+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UITextField+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIView+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIView+BlocksKit.m
Example/Pods/BlocksKit/BlocksKit/UIKit/UIWebView+BlocksKit.h
Example/Pods/BlocksKit/BlocksKit/UIKit/UIWebView+BlocksKit.m
Example/Pods/Target Support Files/BlocksKit/BlocksKit-dummy.m
Example/Pods/Target Support Files/BlocksKit/BlocksKit-prefix.pch
Example/Pods/Target Support Files/BlocksKit/BlocksKit-umbrella.h
Example/Pods/Target Support Files/BlocksKit/BlocksKit.modulemap
Example/Pods/Target Support Files/BlocksKit/BlocksKit.xcconfig
Example/Pods/Target Support Files/BlocksKit/Info.plist
